#projects {
  width: 100%;
}
#projects .slick-prev, #projects .slick-next {
  z-index: 999;
  width: 50px;
  height: 50px;
  background-image: url("../images/arrow.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.1s ease-in-out;
}
#projects .slick-prev::before, #projects .slick-next::before {
  display: none;
}
#projects .slick-prev {
  left: 100px;
}
#projects .slick-next {
  right: 100px;
}
#projects .projects-container .main-carousel-container .slick-prev, #projects .projects-container .main-carousel-container .slick-next {
  transform: translateY(-60px);
}
#projects .projects-container .main-carousel-container .slick-prev:hover, #projects .projects-container .main-carousel-container .slick-next:hover {
  transform: translateY(-60px) scale(1.2);
}
#projects .projects-container .main-carousel-container .slick-prev {
  transform: translateY(-60px) scaleX(-1);
}
#projects .projects-container .main-carousel-container .slick-prev:hover {
  transform: translateY(-60px) scale(-1.2, 1.2);
}
#projects .projects-container .main-carousel-container .slick-dots {
  transform: translateY(-80px);
}
#projects .projects-container .project-item {
  box-sizing: border-box;
  height: 100%;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 48px;
  font-weight: bold;
  display: flex !important;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  position: relative;
}
#projects .projects-container .project-item:hover {
  cursor: pointer;
}
#projects .projects-container .project-item .project-border {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.05;
}
#projects .projects-container .item-1 {
  background: var(--secondary);
  color: var(--light);
  border: 25px solid var(--secondary);
}
#projects .projects-container .item-1:hover {
  background: var(--secondary-hover);
  border: 25px solid var(--secondary-hover);
}
#projects .projects-container .item-2 {
  background: var(--primary);
  color: var(--dark);
  border: 25px solid var(--primary);
}
#projects .projects-container .item-2:hover {
  background: var(--primary-hover);
  border: 25px solid var(--primary-hover);
}
#projects .projects-container .item-3 {
  background: var(--light);
  color: var(--dark);
  border: 25px solid var(--light);
}
#projects .projects-container .item-3:hover {
  background: var(--light-hover);
  border: 25px solid var(--light-hover);
}
#projects .projects-container .project-title {
  display: flex;
  font-size: 42px;
  text-align: center;
  height: 70%;
  align-items: center;
  justify-content: center;
}
#projects .projects-container .project-title .cross {
  width: 50%;
}
#projects .projects-container .exit-button {
  position: absolute;
  top: 0;
  left: 0;
  margin: 3rem;
  width: 40px;
  height: 40px;
  transform: scaleX(-1);
}
#projects .projects-container .project-display {
  display: flex;
}
#projects .projects-container .project-display .project-item {
  width: 40%;
}
#projects .projects-container .project-display .cross {
  opacity: 0;
}
#projects .projects-container .project-display .project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 67%;
}
#projects .projects-container .project-display .project-info .skills-list {
  margin: 2rem 1rem 0 1rem;
}
#projects .projects-container .project-display .project-info .project-carousel-container {
  max-width: 50%;
  margin: 1rem 0;
}
#projects .projects-container .project-display .project-info .project-carousel-container .slick-prev, #projects .projects-container .project-display .project-info .project-carousel-container .slick-next {
  z-index: 999;
  width: 25px;
  height: 25px;
}
#projects .projects-container .project-display .project-info .project-carousel-container .slick-prev {
  left: -50px;
  transform: scaleX(-1);
}
#projects .projects-container .project-display .project-info .project-carousel-container .slick-next {
  right: -50px;
}
#projects .projects-container .project-display .project-info p {
  width: 50%;
  text-align: center;
  margin: 1rem;
}
#projects .projects-container .project-display .project-info .btn-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}

@media screen and (max-width: 1000px) {
  .projects-container {
    height: 100% !important;
  }
  .projects-container .project-border {
    position: absolute;
    width: 100%;
    height: 100% !important;
    top: 0;
    opacity: 0.1 !important;
  }
  .projects-container .project-display {
    flex-direction: column;
  }
  .projects-container .project-display .project-item {
    width: 100% !important;
    height: 30vh !important;
    writing-mode: horizontal-tb !important;
    text-orientation: mixed;
    letter-spacing: 0.2rem;
  }
  .projects-container .project-display .project-item:hover {
    filter: brightness(0.8);
    cursor: pointer;
  }
  .projects-container .project-display .project-title {
    transform: translateY(0px) !important;
    width: 35rem;
    transform: translateX(0) !important;
    width: 70% !important;
  }
  .projects-container .project-display .project-title .cross {
    width: 7% !important;
  }
  .projects-container .project-display .exit-button {
    width: 30px !important;
    height: 30px !important;
  }
  .projects-container .project-display .project-info {
    width: 100% !important;
    transform: translateY(0px) !important;
    padding: 5rem 0 !important;
  }
  .projects-container .project-display .project-info .project-carousel-container {
    max-width: 70% !important;
  }
  .projects-container .project-display .project-info p {
    width: 70% !important;
    text-align: center;
    margin: 1rem;
  }
  .projects-container .project-display .project-info .btn-container {
    width: 70% !important;
  }
}
@media screen and (max-width: 630px) {
  .project-title {
    font-size: 32px !important;
    width: 70% !important;
  }
  .exit-button {
    width: 25px !important;
    height: 25px !important;
    margin: 2rem !important;
  }
  .project-info p {
    font-size: 12px;
    line-height: 32px;
  }
  .project-info .skills-list {
    font-size: 12px !important;
  }
  .project-info .btn-container .btn-1, .project-info .btn-container .btn-blank {
    font-size: 12px;
    width: 8rem;
  }
}
@media screen and (max-width: 550px) {
  .main-carousel-container .slick-prev, .main-carousel-container .slick-next {
    width: 35px !important;
    height: 35px !important;
  }
  .main-carousel-container .slick-prev {
    left: 50px !important;
  }
  .main-carousel-container .slick-next {
    right: 50px !important;
  }
}
@media screen and (max-width: 390px) {
  .project-display .project-info .btn-container {
    flex-direction: column;
    align-items: center;
  }
  .project-display .project-info .btn-container .btn-1, .project-display .project-info .btn-container .btn-blank {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 320px) {
  .project-title {
    font-size: 24px !important;
    width: 70% !important;
  }
  .main-carousel-container .slick-prev, .main-carousel-container .slick-next {
    width: 25px !important;
    height: 25px !important;
  }
  .main-carousel-container .slick-prev {
    left: 50px !important;
  }
  .main-carousel-container .slick-next {
    right: 50px !important;
  }
}/*# sourceMappingURL=projects.css.map */