#projects {
    width: 100%;
    .projects-container {
        .main-carousel-container {
            .slick-prev, .slick-next {
                z-index: 999;
                transform: translateY(-60px);
                transition: all 0.1s ease-in-out;
                &:hover {
                    transform: translateY(-60px) scale(1.2);
                }
            }
            .slick-prev {
                transform: translateY(-60px) scaleX(-1);
                &:hover {
                    transform: translateY(-60px) scale(-1.2, 1.2);
                }
            }
            .cross {
                opacity: 0 !important;
            }
        }
        .project-item {
            box-sizing: border-box;
            height: 100%;
            writing-mode: vertical-lr;
            text-orientation: upright;
            font-size: 48px;
            font-weight: bold;
            display: flex !important;
            align-items: center;
            justify-content: center;
            transition: all 0.4s ease-in-out;
            position: relative;
            &:hover {
                cursor: pointer;
            }
            .project-border {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                opacity: 0.05;
            }
        }
        .item-1 {
            background: var(--secondary);
            color: var(--light);
            border: 25px solid var(--secondary);
            &:hover {
                background: var(--secondary-hover);
                border: 25px solid var(--secondary-hover);
            }
        }
        .item-2 {
            background: var(--primary);
            color: var(--dark);
            border: 25px solid var(--primary);
            &:hover {
                background: var(--primary-hover);
                border: 25px solid var(--primary-hover);
            }
        }
        .item-3 {
            background: var(--light);
            color: var(--dark);
            border: 25px solid var(--light);
            &:hover {
                background: var(--light-hover);
                border: 25px solid var(--light-hover);
            }
        }
        .project-title {
            display: flex;
            .cross {
                width: 50%;
            }
            font-size: 42px;
            text-align: center;
            height: 70%; 
            align-items: center;
            justify-content: space-between;
        }
        .project-display {
            display: flex;
            .project-item {
                width: 40%;
            }
            .project-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 67%;
                transform: translateY(-50px);
                .project-carousel-container {
                    max-width: 50%;
                    margin: 1rem 0;
                    .slick-prev, .slick-next {
                        z-index: 999;
                        width: 25px;
                        height: 25px;
                    }
                    .slick-prev {
                        left: -50px;
                        transform: scaleX(-1);
                    }
                    
                    .slick-next {
                        right: -50px;
                    }
                }
                p {
                    width: 50%;
                    text-align: center;
                    margin: 1rem;
                }
                .btn-container {
                    width: 50%;
                    display: flex;
                    justify-content: space-around;
                    margin: 1rem;
                }
            }
        }
    }
    
    .slick-prev, .slick-next {
        z-index: 999;
        width: 50px;
        height: 50px;
        background-image: url("../images/arrow.png");
        background-position: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &::before {
            display: none;
        }
    }
    
    .slick-prev {
        left: 100px;
    }
    .slick-next {
        right: 100px;
    }
}


@media screen and (max-width: 1000px) {
    .projects-container {
        height: 100% !important;    
        .main-carousel-container {
            .project-item {
                width: 100% !important;
                height: 30vh!important;
                writing-mode: horizontal-tb !important;
                text-orientation: mixed;
                letter-spacing: 0.2rem;
                &:hover {
                    filter: brightness(0.8);
                    cursor: pointer;
                }
            }
            .project-title {
                transform: translateY(0px) !important;
                .cross {
                    width: 7% !important;
                }
                width: 35rem;    
            }
            .slick-next {
                left: 48%;
                transform: rotate(90deg) !important;
                &:hover {
                    transform: scale(1.2) rotate(90deg);
                }
            }
            .slick-prev {
                top: 5% !important;
                left: 48% !important;
                transform: rotate(90deg) scaleX(-1) !important;
                &:hover {
                    transform: rotate(90deg) scale(-1.2, 1.2);
                }
            }
        }
        .project-border {
            position: absolute;
            width: 100%;
            height: 100% !important;
            top: 0;
            opacity: 0.1 !important;
        }
        .project-display {
            flex-direction: column;
            .project-item {
                width: 100% !important;
                height: 30vh!important;
                writing-mode: horizontal-tb !important;
                text-orientation: mixed;
                border: none !important;
                &:hover {
                    filter: brightness(0.8);
                    cursor: pointer;
                }
            }
            .project-title {
                transform: translateY(0px) !important;
                .cross {
                    width: 7% !important;
                }
                width: 35rem;    
                transform: translateX(0) !important;
                width: 70% !important;
            }
            .project-info {
                width: 100% !important;
                transform: translateY(0px) !important;
                padding: 5rem !important;
                p {
                    width: 70% !important;
                    text-align: center;
                    margin: 1rem;
                }
                .btn-container {
                    width: 70% !important;
                }
            }
        }
    }
}

@media screen and (max-width: 630px) {
    .project-title {
        font-size: 32px !important;
        width: 70% !important;
    }
    .project-info {
        p {
            font-size: 12px;
            line-height: 32px;
        }
        .btn-container {
            .btn-1, .btn-blank {
                font-size: 12px;
                width: 8rem;
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .project-info {
        .btn-container {
            flex-direction: column;
            align-items: center;
            .btn-1, .btn-blank {
                margin-bottom: 1rem;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .project-title {
        font-size: 24px !important;
        width: 70% !important;
    }
}