* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto;
  src: url(../public/RobotoFlex-Regular.ttf);
}
:root {
  --light: #fff;
  --dark: #31303E;
  --primary: #FCF0F0;
  --secondary: #E34856;
  --primary-hover: #dbcbcb;
  --secondary-hover: rgb(184, 64, 74);
  --light-hover: #dad9d9;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--background);
  overflow-x: hidden;
}

a {
  color: var(--dark);
  text-decoration: none;
  letter-spacing: 0.2rem;
}

img {
  -webkit-user-drag: none;
}

h1 {
  color: var(--dark);
  font-weight: 400;
  letter-spacing: 0.2rem;
}

h2 {
  font-weight: 200;
  color: var(--dark);
  letter-spacing: 0.2rem;
  font-size: 20px;
}

p {
  margin: 3rem 1rem;
  text-align: center;
  line-height: 42px;
}

.btn-1, .btn-blank {
  width: 12rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--dark);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.btn-1:hover {
  transform: scale(1.05);
  background: var(--secondary);
  color: var(--light);
}

.btn-blank {
  cursor: default;
  opacity: 0.6;
}

#navbar {
  display: grid;
  place-items: center;
  background: var(--light);
}
#navbar .logo {
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}
#navbar .logo:hover {
  color: var(--secondary);
}
#navbar .desktop-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 6rem;
  width: 100%;
}
#navbar .desktop-nav .nav-item {
  position: relative;
  transition: all 0.2s ease-in-out;
  margin: 0 2rem;
}
#navbar .desktop-nav .nav-item::before {
  position: absolute;
  content: "";
  background: var(--secondary);
  width: 95%;
  height: 2px;
  transform: translateY(25px);
  opacity: 0;
  transition: all 0.2s ease-in;
}
#navbar .desktop-nav .nav-item:hover::before {
  opacity: 1;
}
#navbar .mobile-nav {
  display: none;
  background: var(--light);
}
#navbar .ham-menu {
  width: 2rem;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#navbar .ham-menu .bars {
  width: 2rem;
  height: 2px;
  background: var(--dark);
}
#navbar .drop-menu {
  display: none;
}

.landing {
  width: 100%;
  background: var(--primary);
  overflow: hidden !important;
}
.landing .background {
  position: absolute;
  opacity: 0.05;
  z-index: -1;
}
.landing .clouds {
  position: relative;
  width: 100%;
  height: 100%;
}
.landing .clouds .cloud-1 {
  position: absolute;
  top: 50px;
  left: 10%;
  width: 20%;
  -o-object-fit: cover;
     object-fit: cover;
}
.landing .clouds .cloud-2 {
  position: absolute;
  top: 250px;
  left: 65%;
  width: 20%;
}
.landing .clouds .cloud-3 {
  position: absolute;
  top: 450px;
  left: 15%;
}
.landing .art {
  z-index: 5;
  position: relative;
  top: 0;
  width: 100%;
  padding-top: 5rem;
}
.landing .art .art-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.landing .art .art-container .sun-container {
  transform: translateY(-5px);
  background-image: url("./images/sun.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing .art .art-container .sun-container h2 {
  position: absolute;
  transform: translateY(-150px);
  color: var(--light);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}
.landing .art .art-container .sun-container h2 span {
  font-size: 70px;
}
.landing .art .art-container .sun-container .shrine {
  position: absolute;
  width: 20%;
  transform: translateY(50px);
}
.landing .art .art-container .cloud-white, .landing .art .art-container .cloud-grey {
  position: absolute;
  bottom: 0;
}
.landing .art .art-container .cloud-white {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.landing .art .art-container .cloud-grey {
  width: 130%;
}

.header {
  display: flex;
  margin: 1rem;
  max-height: 2rem;
}
.header h1 {
  position: relative;
  font-size: 32px;
  margin: 0 1.5rem;
}
.header .cross {
  font-weight: 200;
  width: 30px;
  height: 30px;
  transform: translateY(2.5px);
}
.header h1::before {
  position: absolute;
  content: "";
  width: 50%;
  transform: translate(50%, 55px);
  height: 2px;
  background: var(--secondary);
}

@media screen and (max-width: 880px) {
  #navbar .desktop-nav {
    display: none !important;
  }
  #navbar .mobile-nav {
    position: relative;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 6rem;
    z-index: 999;
  }
  #navbar .mobile-nav .logo {
    text-align: center !important;
    max-width: 40% !important;
    flex-grow: 1;
    transform: translateX(20px);
  }
  #navbar .mobile-nav .ham-menu {
    text-align: right;
    transform: translateX(-20px);
    grid-column: span 1;
  }
  #navbar .mobile-nav .icon {
    width: 25px !important;
    height: 25px;
    color: var(--dark);
  }
  #navbar .drop-menu {
    z-index: 998;
    position: relative;
    display: block;
    width: 100%;
    transition: all 0.4s ease-in-out;
  }
  #navbar .drop-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  #navbar .drop-menu ul li {
    list-style: none;
    padding: 1rem;
    text-align: center;
    width: 100%;
  }
  #navbar .drop-menu ul li a {
    display: inline-block;
    width: 100%;
  }
  #navbar .close-menu {
    background: var(--light);
    position: absolute;
    top: calc(0% + 6rem);
  }
  #navbar .show-menu {
    background: var(--light);
    position: absolute;
    top: -100%;
  }
}
@media screen and (max-width: 440px) {
  p {
    font-size: 13px;
  }
  .logo {
    font-size: 18px !important;
  }
  .header h1 {
    margin: 0 0.5rem;
    font-size: 15px;
  }
  .header h1::before {
    transform: translate(50%, 30px) !important;
  }
}
@media screen and (max-width: 385px) {
  .logo {
    font-size: 14px !important;
  }
  .header {
    margin: 0rem;
  }
  .header h1 {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 340px) {
  .logo {
    transform: translateX(10px) !important;
  }
}/*# sourceMappingURL=index.css.map */