@font-face {
  font-family: Roboto;
  src: url(../public/Roboto-Regular.ttf);
}

@font-face {
  font-family: RobotoThin;
  src: url(../public/Roboto-Thin.ttf);
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background: #161B22;
  --primary: #2CB67D;
  --secondary: #999B9E;
  --tertiary: #1F242C;
  --white: #fff;
  --grey-1: #afafaf;
  --grey-2: #202328;
  --time: #646C76;
  --time-bg: #2B2E33;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--background);
  overflow-x: hidden;
}

h1 {
  color: var(--white);
  font-size: 45px;
}

h2 {
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
}

h3 {
  color: var(--time);
  font-size: 18px;
}

p {
  color: var(--secondary);
  font-size: 18px;
  line-height: 40px;
  font-weight: 400;
}

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  transform: translateY(-50px);
}

.icon {
  background: var(--primary);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.line {
  width: 1px;
  height: 220px;
  background: var(--tertiary);
}

.time {
  background: var(--time-bg);
  border-radius: 50px;
  width: 125px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  font-size: 16px;
}

.linebreak {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.linebreak .line {
  width: 300px;
  height: 1px;
  background: var(--grey-2);
}

.bullet {
  width: 27px;
  height: 27px;
  background: var(--primary);
  margin-right: 1rem;
}

.card.reveal{
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
}

.skills-container.reveal {
  position: relative;
  transform: translateX(150px);
  opacity: 0;
}

.card.active, .skills-container.active {
  position: relative;
  transform: translateX(0);
  opacity: 1;
}

.left-container.reveal {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
}

.left-container.active {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.right-container.reveal {
  position: relative;
  transform: translateX(150px);
  opacity: 0;
}

.right-container.active {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}
